<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>MyLand</title>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
   <link rel="stylesheet" href="/stylesheets/landing.css">
   <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" async></script>
</head>
<body>  
   <div class="container">
      <% if(error && error.length > 0){ %>
         <div class="alert alert-danger" role="alert">
            <%= error %>
         </div>
      <% } %>
      <% if(success && success.length > 0){ %>
         <div class="alert alert-success" role="alert">
            <%= success %>
         </div>
      <% } %>
   </div>
    
   <div id="landing-header">
      <h1>Welcome to MyLand!</h1>
      <a href="/landscapes" class="btn btn-lg btn-success">View All Landscapes</a>
   </div>
    
   <ul class="slideshow">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
   </ul>
<% include partials/footer %>