body {
   background-color: #000;
 }

 /* 
 We set the z-index to 1 so all of the elements inside the landing-header div will be in 
 front of the background images.

 The position is set to relative so we can use the z-index property; the default position 
 value is static, which ignores z-index.
 
 We use text-align to center our text and button

 We use padding-top to vertically center our div, since it's contents take up quite a bit of space 
 we use 40vh (view height) instead of 50, this way the content looks more visually centered
 */
 #landing-header {
   z-index: 1; /* Z axis forward to images */
   position: relative;
   text-align: center;
   padding-top: 40vh;
 }
 

 #landing-header h1 {
   color: #fff;
 }

 .slideshow { 
   position: fixed;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   z-index: 0; /* Z axis behind to text and button */
   list-style: none; /* remove bullet points */
   margin: 0;
   padding: 0;
 }

 .slideshow li { 
   width: 100%;
   height: 100%;
   position: absolute;
   top: 0;
   left: 0;
   background-size: cover;
   background-position: 50% 50%; /* This will center the images perfectly on the page */
   background-repeat: no-repeat; /* The image is not repeating vertically or horizontally */
   opacity: 0; /* we want our images to start fade out and then we'll use the animation until 1 */
   z-index: 0;
   animation: imageAnimation 50s linear infinite;
 }
    /*  
   Notice the animation property at the bottom of this rule, this is how we add an 
   animation to an element; in this case we have an animation named imageAnimation that 
   lasts for 50s (seconds), keeps linear timing (the whole animation runs at the same speed), 
   and loops an infinite number of times
   */


   /* 
   Each list item needs a background-image and the last four need an animation-delay 
   (this way they all fire off one after the other in ten second intervals): 
   */
 .slideshow li:nth-child(1) { 
   background-image: url('../images/land0.jpg') 
 }
 .slideshow li:nth-child(2) { 
   background-image: url('../images/land1.jpg');
   animation-delay: 10s; 
 }
 .slideshow li:nth-child(3) { 
   background-image: url('../images/land2.jpg');
   animation-delay: 20s; 
 }
 .slideshow li:nth-child(4) { 
   background-image: url('../images/land3.jpg');
   animation-delay: 30s; 
 }
 .slideshow li:nth-child(5) { 
   background-image: url('../images/land4.jpg');
   animation-delay: 40s; 
 }

 @keyframes imageAnimation { 
   0% { 
     opacity: 0; 
     animation-timing-function: ease-in;
   }
   10% {
     opacity: 1;
     animation-timing-function: ease-out;
   }
   20% {
     opacity: 1
   }
   30% {
     opacity: 0
   }
 }

 /* Older browser support - .no-cssanimations class added by modernizr */
.no-cssanimations .slideshow li {
	opacity: 1;
}