.border-left-success {
  border-left: 4px solid #28a745;
}

.border-left-warning {
  border-left: 4px solid #ffc107;
}

.list-posts {
  height: 600px; 
  overflow-y: scroll;
}

#map {
  height: 400px;
  width: 100%;
}

.my-6 {
  margin-top: 4rem !important;
  margin-bottom: 4rem !important;
}

.user-avatar {
  max-height: 250px;
  object-fit: contain;
}

@media screen and (max-width: 600px) {
  .media-body h6 {
    font-size: 0.8rem;
  }

  #comment-header {
    font-size: 1.2rem;
  }

  #new-landscape {
    font-size: 1.0rem;
  }

  #new-comment {
    font-size: 0.8rem;
  }
}