.border-left-success {
  border-left: 4px solid #28a745;
}

.border-left-warning {
  border-left: 4px solid #ffc107;
}

.list-posts {
  height: 600px; 
  overflow-y: scroll;
}

#map {
  height: 400px;
  width: 100%;
}

.my-6 {
  margin-top: 4rem !important;
  margin-bottom: 4rem !important;
}